{% extends "layout.html" %}
{% block tiny %}
<script src="https://cdn.tiny.cloud/1/09uomgj3jvyppxhyhy2udc2hi16fa7s9o8l6rxpq2eb7lv7p/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#content',
        branding: false,
        height: 400,
        plugins: 'code image',
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright | bullist numlist | outdent indent | link image',
        browser_spellcheck: true,
        contextmenu: false,
        images_upload_url: 'upload.php',
        images_upload_handler: function (blobInfo, success, failure) {
            var xhr, formData;

            xhr = new XMLHttpRequest();
            xhr.withCredentials = false;
            xhr.open('POST', '/upload');

            xhr.onload = function () {
                var json;

                if (xhr.status != 200) {
                    failure('HTTP Error: ' + xhr.status);
                    return;
                }

                json = JSON.parse(xhr.responseText);

                if (!json || typeof json.location != 'string') {
                    failure('Invalid JSON: ' + xhr.responseText);
                    return;
                }

                success(json.location);
            };

            formData = new FormData();
            formData.append('file', blobInfo.blob(), blobInfo.filename());

            xhr.send(formData);
        }
    });
</script>
{% endblock tiny %}
{% block content %}
<form class="needs-validation" novalidate method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">{{ legend }}</legend>
        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}

            {% if form.title.errors %}
            {{ form.title(class="form-control form-control-lg is-invalid ") }}

            <div class="invalid-feedback">
                {% for error in form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}

            {{ form.title(class="form-control form-control-lg") }}

            {% endif %}

        </div>
        <div class="form-group">
            {{ form.content.label(class="form-control-label") }}

            {% if form.content.errors %}
            {{ form.content(class="form-control form-control-lg is-invalid") }}

            <div class="invalid-feedback">
                {% for error in form.content.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>

            {% else %}
            {{ form.content(class="form-control form-control-lg ") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn-outline-info") }}
    </div>
</form>
{% endblock content %}